# DS_Store
.DS_Store
**/.DS_Store

#.idea
.idea/

# ipython checkpoints
**/.ipynb_checkpoints/

# data and model files
*/data
*/models
*/results
config/

examples/

# .pyc files
*.pyc

# png files
*.png
*.sh
*.csv
